* {
    box-sizing: border-box;
  }

header
{
    font-family:  "Helvetica Neue", "Lucida Grande", Arial;
    padding:5x;
    border-width: 5px;

border-style: solid;
border-color:black;

background-color: black;
opacity: 0.8;
text-align:center;
color:white

}



nav{
    background-color:black;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    position: sticky;
}

nav a {
    text-decoration: none;
    padding: 45px;
    font-size: 25px;
    font-stretch: ultra-expanded;

    text-align: center;
    font-size-adjust: inherit;
    float: center;
    color: white;
    position: sticky;
    
}
nav a:hover{
    background-color:red;
    padding:40px;
    font-size:45;
    font-weight: 200;
    
}

body{
    background-image: url("./photo/copy.jpg" );
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

img{

    padding:3px;
    height:150px;
    width:auto

}
img :hover
{
    opacity: 0.9;
    border-color: black;
    border-width: 5px;


}

.jkl
{
    background-color: black;
    opacity: 0.8;
}









footer{
    
    text-decoration: none;
    background-color: black;
    opacity: 0.8;
    padding: 10px;
    text-align: center;
    float: left,bottom;
    color: white;


}